body {
  background-color: #fdecf7;
}

.header {
  background-color: #fdecf7;
}
.Logo {
  width: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.Tabs {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #e1c1ff;
  font-family: Comic Sans MS, Comic Sans, cursive;
  width: 100%;
}

.footer {
  background-color: #bbf1ff;
  padding: 10px;
  text-align: center;
  position: absolute;
  bottom: 0%;
  width: 100%;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
.fa-instagram {
  background: #125688;
  color: white;
}
